<div class="flex items-center justify-between">
  <a
    routerLink="/material"
    class="btn mb-3 bg-[#19376D] hover:bg-[#0B2447] border-0"
  >
    <svg
      width="30px"
      height="30px"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="Arrow / Chevron_Left">
        <path
          id="Vector"
          d="M15 19L8 12L15 5"
          stroke="#fff"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </g>
    </svg>
  </a>
  <div class="text-center one mb-7">
    <h1>Create Materials</h1>
  </div>
  <label for="my_modal_6" class="cursor-pointer">
    <img
      src="assets/data.png"
      class="w-12 duration-200 active:scale-95"
      alt=""
      *ngIf="existingData"
    />
  </label>
</div>
<form [formGroup]="form" (submit)="submit()" enctype="multipart/form-data">
  <div class="grid gap-6 mb-6 md:grid-cols-3">
    <div>
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Development Item</label
      >
      <input
        type="text"
        id="first_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Development Item"
        formControlName="name"
      />
    </div>
    <div>
      <label
        for="last_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Batch / Lot Number</label
      >
      <input
        type="text"
        id="last_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Batch"
        formControlName="lotNumber"
      />
    </div>
    <div>
      <label
        for="last_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Exp Date</label
      >
      <input
        type="date"
        id="last_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Batch"
        formControlName="expiredDate"
      />
    </div>
  </div>
  <div class="grid gap-6 mb-6 md:grid-cols-3">
    <div>
      <label
        for="last_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Manufacture</label
      >
      <input
        type="text"
        id="last_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Manufacture"
        formControlName="manufacture"
      />
    </div>
    <div>
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Origin</label
      >
      <input
        type="text"
        id="first_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Origin"
        formControlName="origin"
      />
    </div>
    <div>
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Supplier</label
      >
      <input
        type="text"
        id="first_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Supplier"
        formControlName="supplier"
      />
    </div>
  </div>
  <div class="grid gap-6 mb-6 md:grid-cols-3">
    <div>
      <label
        for="last_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Usage</label
      >
      <input
        type="text"
        id="last_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Usage"
        formControlName="usage"
      />
    </div>
    <div>
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Quantity (Pack)</label
      >
      <input
        type="number"
        min="0"
        id="first_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Quantity"
        formControlName="qty"
      />
    </div>
    <div>
      <label
        for="last_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Kg / pack</label
      >
      <input
        type="number"
        min="0"
        id="last_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Kg"
        formControlName="pcs"
      />
    </div>
  </div>
  <div class="grid gap-6 mb-6 md:grid-cols-3">
    <div>
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >PIC</label
      >
      <input
        type="text"
        id="pic"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="PIC"
        formControlName="pic"
        list="listUser"
        (input)="onPicChange($event)"
      />
      <datalist id="listUser">
        <option *ngFor="let item of listUser; index as i" [value]="item.name">
          {{ item.name }}
        </option>
      </datalist>
    </div>
    <div>
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Email</label
      >
      <input
        type="email"
        id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Email"
        formControlName="email"
        [disabled]="isPicSelected"
        selected
      />
    </div>
    <div>
      <label
        for="last_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Section</label
      >
      <select
        id="countries"
        formControlName="mstSectionId"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      >
        <option value="{{ item.id }}" *ngFor="let item of section">
          {{ item.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="grid gap-6 mb-6 md:grid-cols-3">
    <div>
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Storage</label
      >
      <select
        id="countries"
        formControlName="storage"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      >
        <option value="{{ item.name }}" *ngFor="let item of storages">
          {{ item.name }}
        </option>
        <option value="custom">Other</option>
      </select>

      <input
        class="bg-gray-50 mt-3 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        formControlName="customStorage"
        placeholder="Custom storage"
        *ngIf="form.value.storage === 'custom'"
      />
    </div>
    <div>
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Detail Storage</label
      >
      <input
        type="text"
        id="first_name"
        formControlName="detailStorage"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Detail Storage"
      />
    </div>
    <div>
      <label
        for="last_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Stored Temp Target</label
      >
      <input
        type="text"
        id="last_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Stored Temp Target"
        formControlName="storageTempTarget"
      />
    </div>
  </div>
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Stored Until</label
      >
      <input
        type="date"
        id="first_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Stored Until"
        formControlName="storedUntil"
      />
    </div>
    <div>
      <label
        for="first_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Minimum Stock</label
      >
      <input
        type="number"
        min="0"
        id="first_name"
        formControlName="minStock"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Minimum Stock"
      />
    </div>
    <div>
      <label
        for="last_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Photos</label
      >
      <img
        src="{{ previewImage }}"
        alt=""
        class="my-2 duration-300 rounded-md cursor-pointer active:bg-gray-300 active:text-black hover:shadow-xl {{
          !previewImage && 'hidden'
        }}"
      />
      <input
        type="file"
        id="last_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Usage"
        (change)="processPhoto($event)"
      />
    </div>
    <div>
      <label
        for="last_name"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Supporting Document</label
      >
      <!-- <p class="text-red-500">*Max supporting document 1</p> -->
      <input
        type="file"
        id="last_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Usage"
        (change)="processSupportingDoc($event)"
      />
    </div>
  </div>

  <div class="text-center">
    <button
      type="submit"
      class="btn bg-[#19376D] border-0 hover:bg-[#0B2447] capitalize"
    >
      Create Data
    </button>
  </div>
</form>
<!-- Put this part before </body> tag -->
<input type="checkbox" id="my_modal_6" class="modal-toggle" />
<div class="modal" *ngIf="existingData">
  <div class="modal-box min-w-[80vw]">
    <div class="flex items-center justify-between">
      <div class="flex flex-col gap-2 mb-3">
        <h3 class="text-lg font-bold">Data Finish Good</h3>
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5 text-gray-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
          <input
            type="text"
            id="simple-search"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#3E54AC] focus:border-[#3E54AC] block w-full pl-10 p-2.5 focus:outline-none focus:ring-1"
            placeholder="Search"
            [(ngModel)]="term"
          />
        </div>
      </div>
      <label
        for="my_modal_6"
        class="duration-300 cursor-pointer active:scale-95"
      >
        <svg
          width="35px"
          height="35px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14.5 9.50002L9.5 14.5M9.49998 9.5L14.5 14.5"
            stroke="#F45050"
            stroke-width="1.5"
            stroke-linecap="round"
          />
          <path
            d="M7 3.33782C8.47087 2.48697 10.1786 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 10.1786 2.48697 8.47087 3.33782 7"
            stroke="#F45050"
            stroke-width="1.5"
            stroke-linecap="round"
          />
        </svg>
      </label>
    </div>
    <div class="flex flex-col">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <div class="overflow-hidden">
            <label for="my_modal_6">
              <table class="min-w-full divide-y divide-gray-200">
                <thead>
                  <tr>
                    <th
                      scope="col"
                      class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase"
                    >
                      SKU
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase"
                    >
                      Lot Number
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-xs font-medium text-left text-gray-500 uppercase"
                    >
                      Quantity
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-xs font-medium text-right text-gray-500 uppercase"
                    >
                      Storage
                    </th>
                    <th
                      scope="col"
                      class="px-6 py-3 text-xs font-medium text-right text-gray-500 uppercase"
                    >
                      Section
                    </th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                  <tr
                    class="cursor-pointer hover:bg-gray-100"
                    *ngFor="
                      let item of existingData
                        | filter : term
                        | paginate
                          : { itemsPerPage: itemsPerPage, currentPage: p }
                    "
                    (click)="updateValue(item.id)"
                  >
                    <td
                      class="px-6 py-4 text-sm font-medium text-gray-800 whitespace-nowrap"
                    >
                      {{ item.name }}
                    </td>
                    <td
                      class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap"
                    >
                      {{ item.lotNumber }}
                    </td>
                    <td
                      class="px-6 py-4 text-sm text-gray-800 whitespace-nowrap"
                    >
                      {{ item.netStock | number }}
                    </td>
                    <td
                      class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap"
                    >
                      {{
                        item.storage === "custom"
                          ? item.customStorage
                          : item.storage
                      }}
                    </td>
                    <td
                      class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap"
                    >
                      {{ item.mstSection.name }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </label>
          </div>
        </div>
      </div>
      <div
        class="flex items-center justify-center w-full py-2 my-2 text-black bg-gray-200 rounded-lg"
      >
        <pagination-controls
          class="h-7"
          (pageChange)="p = $event"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
