<div class="flex items-center justify-between">
  <a routerLink="/technical-user">
    <img src="assets/back.png" class="w-12 duration-200 active:scale-95" alt="" />
  </a>
  <div class="text-center one mb-7">
    <h1>Create Technical User</h1>
  </div>
  <div></div>
</div>
<!-- <form [formGroup]="form" (submit)="submit()">
  <div class="w-full mb-5 md:w-2/5 sm:w-3/4">
    <div>
      <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
      <input type="text" id="first_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Name" formControlName="name" />
    </div>
    <div>
      <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">Section</label>
      <input type="text" id="first_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Section" formControlName="section" />
    </div>
    <div>
      <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
      <input type="text" id="first_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Email" formControlName="email" />
    </div>
    <div>
      <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">NIK</label>
      <input type="text" id="first_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Nik" formControlName="nik" />
    </div>
  </div>

  <div class="text-center">
    <button type="submit" class="btn bg-[#19376D] border-0 hover:bg-[#0B2447] capitalize">
      Create Data
    </button>
  </div>
</form> -->

<form [formGroup]="form" (submit)="submit()">
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-section">
        Section
      </label>
      <select
        class="appearance-none block w-full text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
        id="grid-section" formControlName="sectionId">
        <option value="" disabled selected>Select a section</option>
        <option value="{{ item.id }}" *ngFor="let item of section">{{ item.name }}</option>
      </select>
    </div>

    <div class="w-full md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
        NAME
      </label>
      <input
        class="appearance-none block w-full  text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-last-name" type="text" placeholder="Name" formControlName="name">
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
        NIK
      </label>
      <input
        class="appearance-none block w-full text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
        id="grid-first-name" type="text" placeholder="Nik" formControlName="nik">
      <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
    </div>
    <div class="w-full md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
        EMAIL
      </label>
      <input
        class="appearance-none block w-full  text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        id="grid-last-name" type="text" placeholder="Email" formControlName="email">
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn bg-[#19376D] border-0 hover:bg-[#0B2447] capitalize">
      Create Data
    </button>
  </div>
</form>