<!-- <div class="flex flex-wrap items-center gap-8 mt-1 justify-evenly">
  <a
    title="Finish Good"
    routerLink="/fg"
    class="text-center cursor-pointer p-7 hover:glass hover:shadow-xl duration-300 hover:-translate-y-1 active:translate-y-0.5"
  >
    <img src="assets/like.png" alt="" class="w-1/4" />
    <p class="mt-2 text-xl font-semibold">Finish Good</p>
  </a>
  <a
    routerLink="/tools"
    class="text-center cursor-pointer p-7 hover:glass hover:shadow-xl duration-300 hover:-translate-y-1 active:translate-y-0.5"
  >
    <img src="assets/google.png" alt="" class="w-1/4" />
    <p class="mt-2 text-xl font-semibold">Tools</p>
  </a>
</div>
<div class="flex flex-wrap items-center gap-8 justify-evenly">
  <a
    routerLink="/packaging"
    class="text-center cursor-pointer p-7 hover:glass hover:shadow-xl duration-300 hover:-translate-y-1 active:translate-y-0.5"
  >
    <img src="assets/package.png" alt="" class="w-1/4" />
    <p class="mt-2 text-xl font-semibold">Packaging</p>
  </a>
  <a
    routerLink="/material"
    class="text-center cursor-pointer p-7 hover:glass hover:shadow-xl duration-300 hover:-translate-y-1 active:translate-y-0.5"
  >
    <img src="assets/materials.png" alt="" class="w-40" />
    <p class="mt-2 text-xl font-semibold">Materials</p>
  </a>
</div> -->
<div class="grid grid-cols-2 gap-4 max-md:grid-cols-1">
  <a
    title="Finish Good"
    routerLink="/fg"
    class="flex justify-center flex-col items-center cursor-pointer p-7 hover:glass hover:shadow-xl duration-300 hover:-translate-y-1 active:translate-y-0.5"
  >
    <img src="assets/like.png" alt="" class="w-1/4" />
    <p class="mt-2 text-xl font-semibold">Finish Good</p>
  </a>
  <a
    routerLink="/tools"
    class="flex justify-center flex-col items-center cursor-pointer p-7 hover:glass hover:shadow-xl duration-300 hover:-translate-y-1 active:translate-y-0.5"
  >
    <img src="assets/google.png" alt="" class="w-1/4" />
    <p class="mt-2 text-xl font-semibold">Tools</p>
  </a>
  <a
    routerLink="/packaging"
  class="flex justify-center flex-col items-center cursor-pointer p-7 hover:glass hover:shadow-xl duration-300 hover:-translate-y-1 active:translate-y-0.5"
  >
    <img src="assets/package.png" alt="" class="w-1/4" />
    <p class="mt-2 text-xl font-semibold">Packaging</p>
  </a>
  <a
    routerLink="/material"
    class="flex justify-center flex-col items-center cursor-pointer p-7 hover:glass hover:shadow-xl duration-300 hover:-translate-y-1 active:translate-y-0.5"
  >
    <img src="assets/materials.png" alt="" class="w-1/4" />
    <p class="mt-2 text-xl font-semibold">Materials</p>
  </a>
</div>
